.table {
  background-color: white;
  padding: .5em;
  border-bottom: 1em;
  margin: 1em;
}

#buttonContainer {
  font-family: 'Raleway', sans-serif;
  /* background-color: antiquewhite; */
  display: flexbox;
  justify-content: center;
}

#postButton {
  margin: .5em;
}

switchContainer {
  /* background-color: green; */
  display: flexbox;
  justify-content: center;
  align-items: center;
}

#completedSwitch {
  margin: .5em;
}


/* #actionsButton {
} */

.singleItem {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 90%;
}