.table {
  background-color: white;
  padding: .5em;
  border-bottom: 1em;
  margin: 1em;
}

#postButton {
  margin: 1em;
}

#actionsButton {
  /* border: none; */
}

.singleItem {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 90%;
}