#header {
  font-size: 3em;
  background-color: white;
  text-align: center;
  /* font-family: 'Arima Madurai', cursive; */
  font-family: 'Bangers', cursive;
  /* font-family: 'Concert One', cursive; */
  /* font-family: 'Rock 3D', cursive; */
  /* font-family: 'Fugaz One', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  margin: 0;

}